<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>명함 날짜 생성기</title>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
	<div id="app">
		<h1 class="text-3xl font-bold text-center mt-10">명함 문제 생성기</h1>
		<h2 class="text-sm text-center mt-4">{{today}}</h2>
		<div class="flex flex-col items-center">
			<div v-for="dat, idx in data">
				<div class="font-bold text-center mt-6 mb-2">{{idx}}</div>
				<div v-for="da in dat" class="flex">
					<div v-for="d, idx in da"
						 class="w-4 h-4 rounded-full m-1"
						 :class="{ 'border-2' : d === 1, 'border-black' : d === 1, 'bg-black': d === 2, 'ml-10': idx === 6}"
					>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
const NUM = [
  [[1, 1, 1], [1, 0, 1], [1, 0, 1], [1, 0, 1], [1, 1, 1]],
  [[1, 1, 0], [0, 1, 0], [0, 1, 0], [0, 1, 0], [1, 1, 1]],
  [[1, 1, 1], [0, 0, 1], [1, 1, 1], [1, 0, 0], [1, 1, 1]],
  [[1, 1, 1], [0, 0, 1], [1, 1, 1], [0, 0, 1], [1, 1, 1]],
  [[1, 0, 1], [1, 0, 1], [1, 1, 1], [0, 0, 1], [0, 0, 1]],
  [[1, 1, 1], [1, 0, 0], [1, 1, 1], [0, 0, 1], [1, 1, 1]],
  [[1, 1, 1], [1, 0, 0], [1, 1, 1], [1, 0, 1], [1, 1, 1]],
  [[1, 1, 1], [1, 0, 1], [0, 0, 1], [0, 0, 1], [0, 0, 1]],
  [[1, 1, 1], [1, 0, 1], [1, 1, 1], [1, 0, 1], [1, 1, 1]],
  [[1, 1, 1], [1, 0, 1], [1, 1, 1], [0, 0, 1], [1, 1, 1]]
];

const A = [
  [0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0],
  [0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1],
  [1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0],
  [0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0],
  [0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1]
];

const B = [
  [0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
  [1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0],
  [0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1],
  [0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0],
  [1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0]
];

const C = [
  [0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1],
  [0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0],
  [1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0],
  [0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1],
  [0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0]
];

const D = [
  [1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0],
  [0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0],
  [0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1],
  [1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0],
  [0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0]
];

const HOLE = {A, B, C, D};

const getData = (today) => 
{
	today = Array.from(today, Number);

	const arr = [];
	for(let i = 0; i < 5; i++) arr[i] = [];

	for (let i = 0; i < 4; i++) {
	  for (let r = 0; r < 5; r++) {
	    for (let c = 0; c < 3; c++) {
	      arr[r][i * 3 + c] = NUM[today[i]][r][c];
	    }
	  }
	}

	const data = {};
	for (let h of 'ABCD') {
		data[h] = [];
		for(let i = 0; i < 5; i++) data[h][i] = [];

		for(let i = 0; i < 5; i++) {
			for(let j = 0; j < 12; j++) {
				if(HOLE[h][i][j] == 0) data[h][i][j] = 0;
				else data[h][i][j] = HOLE[h][i][j] + arr[i][j];
			}
		}
	}

	return data;
}


</script>

<script>
  const { createApp, ref } = Vue

  createApp({
    setup() {
      const date = new Date();

      const month = String(date.getMonth() + 1).padStart(2, '0');
      const day = String(date.getDate()).padStart(2, '0'); 
      const today = month + day;
      const data = getData(today);

      return {
        today,
        data,
      }
    }
  }).mount('#app')
</script>

</html>